<%- include('../layouts/header', {title: 'Tshirt list'}) %>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="alert alert-success text-center">Tshirts list</h1>
        </div>
        <div class="row">
          <form class="row g-3 align-items-center my-3" action="/tshirts" method="get">
            <div class="col-auto">
              <label for="search" class="col-form-label">Search</label>
            </div>
            <div class="col-auto">
              <input type="text" id="search" name="search" class="form-control" value="<%=search%>">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-outline-secondary">Search</button>
            </div>
          </form>
        </div>
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Color</th>
                  <th scope="col">Talla</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Marca</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Disponible</th>
                  <th scope="col">Stock</th>
                  <th scope="col">Fecha Lanzamiento</th>
                  <th scope="col" class="text-center">Delete</th>
                </tr>
              </thead>
              <tbody>
                <% tshirts.map(tshirt => {%>
                <tr>
                  <th scope="row"><%= tshirt.id%></th>
                  <td><%= tshirt.color%></td>
                  <td><%= tshirt.talla%></td>
                  <td><%= tshirt.tipo%></td>
                  <td><%= tshirt.marca%></td>
                  <td><%= tshirt.precio%></td>
                  <td><%= tshirt.disponible%></td>
                  <td><%= tshirt.stock%></td>
                  <td><%= tshirt.fechaLanzamiento%></td>
                  <td>
                    <form action="/tshirts/delete/<%= tshirt.id%>" method="post" onsubmit="return confirm('Are you sure you want to delete this tshirt?')" class="text-center">
                      <button type="submit" class="btn btn-outline-danger">❌</button>
                    </form>
                </tr>
                <%}) %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row col-12 d-grid">
          <a href="/tshirts/create" class="btn btn-outline-secondary">Create a new Tshirt</a>
        </div>
      </div>
    </div>
<%- include('../layouts/footer') %>